<!-- /dashboard.html -->
{% extends "base.html" %}

{% block title %}dash - HomeLab{% endblock %}

{% block content %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/dashbord.css' %}">

    <!-- Hero Section -->
    <section class="hero is-primary is-fullheight heroB">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Bienvenido a tu HomeLab</h1>
                <h2 class="subtitle">Gestiona y monitorea tus servicios desde un solo lugar</h2>
            </div>
        </div>
        <!-- SVG en la parte inferior -->
        
    </section>

<!-- Sección de Cartas -->
<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">Funcionalidades de Nuestro Servicio</h1>
        
        <div class="columns is-multiline">
            <!-- Carta 1 -->
            <div class="column is-12-mobile is-6-tablet is-4-desktop">
                <div class="card">
                    <!-- 

                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://via.placeholder.com/400" alt="Funcionalidad 1">
                        </figure>
                    </div>
                    
                    Sección de Cartas -->

                    <div class="">
                        <p class="title">Funcionalidad 1</p>
                        <p class="subtitle">Descripción corta de la funcionalidad número 1.</p>
                        <div class="content">
                            <a href="#" class="button is-link">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Carta 2 -->
            <div class="column is-12-mobile is-6-tablet is-4-desktop">
                <div class="card">
                    <!-- 

                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://via.placeholder.com/400" alt="Funcionalidad 1">
                        </figure>
                    </div>
                    
                    Sección de Cartas -->
                    <div class="">
                        <p class="title">Funcionalidad 2</p>
                        <p class="subtitle">Descripción corta de la funcionalidad número 2.</p>
                        <div class="content">
                            <a href="#" class="button is-link">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Carta 3 -->
            <div class="column is-12-mobile is-6-tablet is-4-desktop">
                <div class="card">
                     <!-- 

                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://via.placeholder.com/400" alt="Funcionalidad 1">
                        </figure>
                    </div>
                    
                    Sección de Cartas -->
                    <div class="">
                        <p class="title">Funcionalidad 3</p>
                        <p class="subtitle">Descripción corta de la funcionalidad número 3.</p>
                        <div class="content">
                            <a href="#" class="button is-link">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Carta 4 -->
            <div class="column is-12-mobile is-6-tablet is-4-desktop">
                <div class="card">
                    <!-- 

                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://via.placeholder.com/400" alt="Funcionalidad 1">
                        </figure>
                    </div>
                    
                    Sección de Cartas -->
                    <div class="">
                        <p class="title">Funcionalidad 4</p>
                        <p class="subtitle">Descripción corta de la funcionalidad número 4.</p>
                        <div class="content">
                            <a href="#" class="button is-link">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>



{% endblock %}
